# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.vscode/

# Build results
bin/
obj/

# Others
.DS_Store

# Ignora el archivo appsettings.Development.json
appsettings.Development.json

# Ignora cualquier otro archivo appsettings que no sea el principal
appsettings.*.json

# Ignorar el archivo de usuario (si usas Rider/Visual Studio)
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar otras configuraciones locales
.vscode/
.idea/
